<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liu.springboot.quickstart.dao.basedao.BiVideoInfoMapper" >
  <resultMap id="BaseResultMap" type="com.liu.springboot.quickstart.model.BiVideoInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="v_name" property="vName" jdbcType="VARCHAR" />
    <result column="v_available" property="vAvailable" jdbcType="INTEGER" />
    <result column="v_isdel" property="vIsdel" jdbcType="INTEGER" />
    <result column="c_classid" property="cClassid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, v_name, v_available, v_isdel, c_classid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bi_videoinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bi_videoinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liu.springboot.quickstart.model.BiVideoInfo" >
    insert into bi_videoinfo (id, v_name, v_available, 
      v_isdel, c_classid)
    values (#{id,jdbcType=INTEGER}, #{vName,jdbcType=VARCHAR}, #{vAvailable,jdbcType=INTEGER}, 
      #{vIsdel,jdbcType=INTEGER}, #{cClassid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.liu.springboot.quickstart.model.BiVideoInfo" >
    insert into bi_videoinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="vName != null" >
        v_name,
      </if>
      <if test="vAvailable != null" >
        v_available,
      </if>
      <if test="vIsdel != null" >
        v_isdel,
      </if>
      <if test="cClassid != null" >
        c_classid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="vName != null" >
        #{vName,jdbcType=VARCHAR},
      </if>
      <if test="vAvailable != null" >
        #{vAvailable,jdbcType=INTEGER},
      </if>
      <if test="vIsdel != null" >
        #{vIsdel,jdbcType=INTEGER},
      </if>
      <if test="cClassid != null" >
        #{cClassid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liu.springboot.quickstart.model.BiVideoInfo" >
    update bi_videoinfo
    <set >
      <if test="vName != null" >
        v_name = #{vName,jdbcType=VARCHAR},
      </if>
      <if test="vAvailable != null" >
        v_available = #{vAvailable,jdbcType=INTEGER},
      </if>
      <if test="vIsdel != null" >
        v_isdel = #{vIsdel,jdbcType=INTEGER},
      </if>
      <if test="cClassid != null" >
        c_classid = #{cClassid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liu.springboot.quickstart.model.BiVideoInfo" >
    update bi_videoinfo
    set v_name = #{vName,jdbcType=VARCHAR},
      v_available = #{vAvailable,jdbcType=INTEGER},
      v_isdel = #{vIsdel,jdbcType=INTEGER},
      c_classid = #{cClassid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- =============================================== -->
  <insert id="insertReturnKey" parameterType="com.liu.springboot.quickstart.model.BiVideoInfo" useGeneratedKeys="true" keyProperty="id">
    insert into bi_videoinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="vName != null" >
        v_name,
      </if>
      <if test="vAvailable != null" >
        v_available,
      </if>
      <if test="vIsdel != null" >
        v_isdel,
      </if>
      <if test="cClassid != null" >
        c_classid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="vName != null" >
        #{vName,jdbcType=VARCHAR},
      </if>
      <if test="vAvailable != null" >
        #{vAvailable,jdbcType=INTEGER},
      </if>
      <if test="vIsdel != null" >
        #{vIsdel,jdbcType=INTEGER},
      </if>
      <if test="cClassid != null" >
        #{cClassid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>